<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="skhu.mapper.CommunityMapper">
   <select id="selectAll" resultType="skhu.model.Notice">
      <![CDATA[
      SELECT * FROM ( 
         SELECT *, ROW_NUMBER() OVER (ORDER BY n_id desc) 행번호
         FROM [Notice]
         where
         #{srchType} = 0 or
         (#{srchType} = 1 AND n_title like '%'+#{srchText}+'%') OR
         (#{srchType} = 2 AND  n_writerName like '%'+#{srchText}+'%')
         ) subquery 
         WHERE 행번호> (#{currentPage} - 1) * #{pageSize} AND 행번호<= #{currentPage} * #{pageSize} 
         ORDER BY 행번호
      ]]>
   </select>
   <select id="selectById" resultType="skhu.model.Notice">
      select *
      from[Notice] 
      where
      n_id=#{n_id}
   </select>
   <select id="select_file_byn_Id" resultType="skhu.model.File">
      select *
      from [file]
      where n_id=#{n_id};
   </select>
   <select id="select_file_byf_Id" resultType="skhu.model.File">
      select *
      from [file]
      where f_id=#{f_id};
   </select>
   <update id="notice_update">
      update [notice]
      set n_title=#{n_title},
         n_content=#{n_content},
         n_writeTime=GETDATE()
      where n_id=#{n_id};
   </update>
      <update id="notice_file_update">
      update [file]
      set f_name=#{f_name},
         n_size=#{f_size},
      where f_id=#{f_id};
   </update>
   <select id="max" resultType="int">
    SELECT IDENT_CURRENT('Notice')
   </select>
   <delete id="delete_comment">
      delete from [comment]
      where c_id=#{c_id};
   </delete>
   <select id="selectCount" resultType="int">
      SELECT COUNT(*)
      FROM [notice]
      where   #{srchType} = 0 or
         (#{srchType} = 1 AND n_title like '%'+#{srchText}+'%') OR
         (#{srchType} = 2 AND  n_writerName like '%'+#{srchText}+'%' )
      </select>
   <insert id="notice_insert">
      insert into
      [notice](n_writerId,n_writerName,n_title,n_content,n_writeTime,n_file,n_count)
      values(#{n_writerId},#{n_writerName},#{n_title},#{n_content},GETDATE(),#{n_file},0)
   </insert>
   <update id="notice_file">
      update [notice]
      set n_file=0
      where n_id=#{n_id};
   </update>
   <update id="board_file">
      update [board]
      set b_file=0
      where b_id=#{b_id};
   </update>
   <insert id="comment_insert">
      insert into
      [Comment](b_id,n_id,c_writerId,c_writeTime,c_writerName,c_content)
      values(null,#{n_id},#{c_writerId},#{c_writeTime},#{c_writerName},#{c_content})
   </insert>
   <insert id="b_comment_insert">
      insert into
      [Comment](b_id,n_id,c_writerId,c_writeTime,c_writerName,c_content)
      values(#{b_id},null,#{c_writerId},#{c_writeTime},#{c_writerName},#{c_content})
   </insert>
   <select id="notice_comment" resultType="skhu.model.Comment">
      select c.*,u.u_photo,u.u_cNumber,a.a_photo
      from [Comment] c left join [user] u on c.c_writerId=u.u_id left join [ADMIN] a on c_writerId=a.a_id
      where c.n_id=#{id}
   </select>
   <select id="board_comment" resultType="skhu.model.Comment">
      select c.*,u.u_photo,u.u_cNumber,a.a_photo
      from [Comment] c left join [user] u on c.c_writerId=u.u_id left join [ADMIN] a on c_writerId=a.a_id
      where c.b_id=#{id}
   </select>
   
   <insert id="insert_file">
      insert into [file](b_id,f_name,f_size,n_id,f_data,f_extension)
      values(null,#{f_name},#{f_size},#{n_id},#{f_data},#{f_extension})
   </insert>
   <delete id="notice_Delete">
      delete from [notice]
      where n_id=#{n_id};
   </delete>
   <delete id="file_delete">
   delete from [file]
   where f_id=#{f_id}
   </delete>
   <select id="board_selectAll" resultType="skhu.model.Board">
      <![CDATA[
      SELECT * FROM ( 
         SELECT *, ROW_NUMBER() OVER (ORDER BY b_id desc) 행번호
         FROM [board]
         where
         #{srchType} = 0 or
         (#{srchType} = 1 AND b_title like '%'+#{srchText}+'%') OR
         (#{srchType} = 2 AND  b_writerName like '%'+#{srchText}+'%')
         ) subquery 
         WHERE 행번호> (#{currentPage} - 1) * #{pageSize} AND 행번호<= #{currentPage} * #{pageSize} 
         ORDER BY 행번호
      ]]>
   </select>
   <select id="board_selectById" resultType="skhu.model.Board">
      select *
      from[board] 
      where
      b_id=#{b_id}
   </select>
   <select id="board_select_file_byb_Id" resultType="skhu.model.File">
      select *
      from [file]
      where b_id=#{b_id};
   </select>
   <update id="board_update">
      update [board]
      set b_title=#{b_title},
         b_content=#{b_content},
         b_writeTime=GETDATE()
      where b_id=#{b_id};
   </update>
      <update id="board_file_update">
      update [file]
      set f_name=#{f_name},
         f_size=#{f_size},
      where f_id=#{f_id};
   </update>
   <select id="board_max" resultType="int">
     SELECT IDENT_CURRENT('board')
   </select>
   <select id="board_selectCount" resultType="int">
      SELECT COUNT(*)
      FROM [board]
      where   #{srchType} = 0 or
         (#{srchType} = 1 AND b_title like '%'+#{srchText}+'%') OR
         (#{srchType} = 2 AND  b_writerName like '%'+#{srchText}+'%' )
      </select>
     
   <insert id="board_insert">
      insert into
      [board](b_writerId,b_writerName,b_title,b_content,b_writeTime,b_file,b_count,b_aid)
      values(#{b_writerId},#{b_writerName},#{b_title},#{b_content},GETDATE(),#{b_file},0,null)
   </insert>
   <insert id="board_insert_ad">
      insert into
      [board](b_writerId,b_writerName,b_title,b_content,b_writeTime,b_file,b_count,b_aid)
      values(null,#{b_writerName},#{b_title},#{b_content},GETDATE(),#{b_file},0,#{b_aid})
   </insert>
   
   <insert id="board_insert_file">
      insert into [file](b_id,f_name,f_size,n_id,f_data,f_extension)
      values(#{b_id},#{f_name},#{f_size},null,#{f_data},#{f_extension})
   </insert>
   <delete id="board_Delete">
      delete from [board]
      where b_id=#{b_id};
   </delete>
   <delete id="board_file_delete">
   delete from [file]
   where f_id=#{f_id}
   </delete>
   <select id="search_file" resultType="int">
      select n_id
      from [file]
      where f_id = #{f_id}
   </select>
   <select id="count_n" resultType="int">
      select count(*)
      from [file]
      where n_id = #{n_id}
   </select>
   <select id="search_bfile" resultType="int">
      select b_id
      from [file]
      where f_id = #{f_id}
   </select>
   <select id="count_b" resultType="int">
      select count(*)
      from [file]
      where b_id = #{b_id}
   </select>
   <update id="n_ch">
      update [notice]
      set n_file=1
      where n_id=#{id}
   </update>
   <update id="b_ch">
      update [board]
      set b_file=1
      where b_id=#{id}
   </update>
   <select id="max_nid" resultType="int">
    SELECT IDENT_CURRENT('COMMENT')
   </select>
    <update id="n_c">
      update [comment]
      set c_content=#{content}
      where c_id=#{id}
   </update>
   <select id="coment_list" resultType="skhu.model.Comment">
      select *
      from [comment]
      where n_id=#{id}
   </select>
   <update id="count">
    update [notice]
    set n_count=n_count+1
    where n_id=#{n_id}
   </update>
   <update id="count_d">
    update NOTICE
   set n_count=n_count-1
   where n_id=#{n_id}
   </update>
    <update id="count_bb">
    update [board]
    set b_count=b_count+1
    where b_id=#{b_id}
   </update>
   <update id="count_bd">
    update board
   set b_count=b_count-1
   where b_id=#{b_id}
   </update>
   <select id="b_coment_list" resultType="skhu.model.Comment">
      select *
      from [comment]
      where b_id=#{id}
   </select>

   
</mapper>