@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

@media screen and (max-width: 1680px){
.board {
    width: 60.3333333333%;
    padding: 10px 0 0 0px !important;
    margin-left: 25%;
    margin-top:1%;
    
}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
      
}
.filebox{
	text-align: left;
}

.board1 {
	width: 20.3333333333%;
    padding: 20px 0 0 40px !important;
    width:
}
td{
	margin-right:30px!important;
}
.boad{
	width:100%;
	    text-align: center;
	font-size: 20px;
    margin: 0!important;
      padding-top: 25px;
    height: 50px;
    float: left !important;
   padding-left:15px;
}
.boad h3{
	float:left;
	display:inline;
}
#write{
	float:right;
	margin-right:3px;
	margin-top: 30px;;
}
.icon.major{
	margin-top:40px!important;
}
#board_{
	margin:0;
}
#pa ul li{
	font-size:18px;
	display:inline-block;
}
#pa ul{
	    text-align: center;
}
#pa1 ul li{
	font-size:18px;
	display:inline-block;
}
#pa1 ul{
	    text-align: right;
}
#pa2 ul li{
	font-size:18px;
	display:inline-block;
}
#pa2 ul{
	    text-align: right;
}
#pa2{
	margin-top:20px;
}
#board_ tr:not(:first-child){
	border-bottom:solid 1px;
	border-top:solid 1px;
	font-size:15px !important;
}
#board_ tr:first-child td{
	height:3px;
	
	background-color:#b7822b;
}
#board_ tr td:nth-child(2){
	width:400px;
}
#board_1{
	
	margin:0;
}
#board_1 tr:not(:first-child){
	
}
#board_1 tr:nth-child(2){
	
	border-bottom:solid 1px;
	font-size:14px !important;
}
#board_1 tr:nth-child(3){
	
	border-bottom:solid 1px;
	font-size:14px !important;
}
#board_1 tr:nth-child(4){
	
	border-bottom:solid 1px;
	font-size:14px !important;
}
#board_1 tr:nth-child(2) td:first-child{
	text-align:center;
	font-size:14px;

}
#board_1 tr:nth-child(5){
	
	border-bottom:solid 1px;
	font-size:30px !important;
}
#board_1 tr:nth-child(6){
	
height:3px;
	
	background-color:#b7822b;
}


#board_1 tr:first-child td{
	height:3px;
	
	background-color:#b7822b;
}
#board_1 tr:nth-child(2) td:nth-child(2){
	
	text-align:left;

}
#board_2{
	
	margin:0;
}
#board_2 tr:not(:first-child){
	
}
#board_2 tr:nth-child(2){
	
	border-bottom:solid 1px;
	font-size:14px !important;
}
.file_{
	padding-top:1%;
	padding-bottom:1%;
}
#board_2 tr:nth-child(3){
	
	border-bottom:solid 1px;
	font-size:14px !important;
}
#board_2 tr:nth-child(2) td:first-child{
	padding-top: 10px;
    padding-bottom: 10px;
	width:80px;
}
#board_2 tr:nth-child(2) td:nth-child(2) input{
	width:100%;
	height: 30px;
	margin-bottom:0px;
}




#board_2 tr:first-child td{
	height:3px;
	
	background-color:#b7822b;
}


#myselect{
	display:inline-block;
	margin-right:10px;
	width:50%;
}
#search{
	display: inline-flex;
	width:50%;
	margin-left:25%;
}
#my{
	background-color:#73b0d9;
	border-radius:3px;
	width: 20%;
    font-size: 10px;
    height: 30px;
    margin-left:10px;
}
#search input{
	height:30px !important; 
}

@media screen and (max-width: 736px){
	.boad{
		padding-top:4.5%;
	}
	h3{
	margin-left: 20% !important;
	}
}
@media screen and (max-width: 480px){
	.boad{
		padding-top:4.5%;
	}
	h3{
	margin-left: 1% !important;
	}
}
@media screen and (max-width: 840px){
	.boad{
		padding-top:4.5%;
	}
	
	.filebox {
    text-align: left!important;
}
	#board_2 tr:nth-child(2) td:nth-child(3)
{
	display:none;
}
#board_2 tr:nth-child(2) td:nth-child(4)
{
	display:none;
}
	.boad{
	text-align:center !important;
	}
.board {
    width: 100%;
    clear: none;
           margin-left: 6%;
}
#pa ul{
	    text-align: center;
	    margin-left:0;
}
td{
	margin-right:10px!important;
	text-align: center;
}
td:nth-child(4){
	display:none ;
}
td:nth-child(5){
	display:none ;
}
td:nth-child(2){
	width:225px !important;
	text-align: center;
}
#board_1 tr:nth-child(3) td:nth-child(4){
	display:table-cell !important;
}
#board_1 tr:nth-child(3) td:nth-child(2){
	width:140px !important;
}
#myselect{
	display:inline-block;
	margin-right:10px;
	width: 40%;
}
#search{
	display: inline-flex;
	width:100%;
	margin-left:28%;
}
#my{
	background-color:#73b0d9;
	border-radius:3px;
	width: 20%;
    font-size: 10px;
    height: 30px;
    margin-left:10px;
}
#search input:first-child{
	height:30px !important; 
	width:70%;
}


}
