<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.2.xsd">
    
    <http auto-config="true">
        <intercept-url pattern="/main/*" access="ROLE_USER" />
        <intercept-url pattern="/community/*" access="ROLE_USER" />
        <intercept-url pattern="/introduce/*" access="ROLE_USER" />
        <intercept-url pattern="/member/*" access="ROLE_USER" />
        <intercept-url pattern="/user/*" access="ROLE_USER" />
        <intercept-url pattern="/task/*" access="ROLE_ADMIN" />
        
        <form-login
            login-page="/index.do"
            login-processing-url="/login_processing.do"
            default-target-url="/login_success.do" 
			authentication-failure-url="/login_failure.do"
            username-parameter="loginId"
            password-parameter="password" />
        <logout
            logout-url="/main/logout.do"
            logout-success-url="/index.do"
            invalidate-session="true" />
    </http>

    <authentication-manager>
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <beans:bean id="webexpressionHandler"
      class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

</beans:beans>
